<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
	<!-- enable cheat sheets -->
    <extension
          point="org.eclipse.ui.cheatsheets.cheatSheetContent">
       <category name="ModuleStudio" id="base_cheatsheet.category_modulestudio">
       </category>
       <cheatsheet
             name="%cheatsheet.modulestudio.name"
             category="base_cheatsheet.category_modulestudio"
             contentFile="$nl$/cheat/1_modulestudio_composite.xml"
             composite="true"
             id="de.guite.modulestudio.help.cheatsheet1812025377">
          <description>%cheatsheet.modulestudio.desc</description>
       </cheatsheet>
       <!-- other cheat sheets can be registered later at this point -->
    </extension>
</plugin>
